<!doctype html>
<html>
<head><meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
	<title><%= title %></title>
</head>
<body>
	<form name="input" action="/search" method="get" >
		Search Terms: <input type="text" name="q" value="<%=search%>"/>
		<input type="submit" value="Submit" />
	</form>
	<div>
		<ul>
			<% for(var i=0; i<results.length; i++) {%>
			   <li><a href='/#<%= results[i].timestamp %>'><%= results[i].date %></a><%= results[i].msg %></li>
			<% } %>
		</ul>
	<div>	
</body>

